# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Goland files
.idea/

bin

.DS_Store

.vscode

*.swp
*.swo

.scannerwork/

.dccache

.metals

local-toggles.properties

/build/exec

/local

coverage.out


local-env/secret*.yml
internal/config/*.yml
internal/config/*.yaml

build/package/docker/localstack/.terraform*
build/package/docker/localstack/terraform*